* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.block img {
  width: 200px;
  border-radius: 20px;
}
